/* index.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(27, 222, 225);
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.stopwatch-container {
    margin-right: 20px;
}

.heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 50px;
    color: black;
    text-align: center;
}

.circle {
    position: relative;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    background: rgb(54, 196, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 40px;
    font-weight: 600;
    color: black; /* Timer color set to black */
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px; /* Space between buttons */
    margin-top: 20px;
}

.btn {
    cursor: pointer;
    font-size: 15px;
    background: rgb(72, 207, 202);
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: bold;
    color: black;
    border: 2px solid transparent;
}

.lap-container {
    background: rgb(255, 255, 255);
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

thead {
    background-color: rgb(72, 207, 202);
}

#lapTableBody {
    background-color: rgb(240, 240, 240);
}

